[Desktop Entry]
Name=Logitech Channel Switcher
Comment=Switch Logitech device channels across computers
Exec="/opt/logitech-channel-switcher/Logitech Channel Switcher"
Icon=/opt/logitech-channel-switcher/static/icon/split-screen.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
